/*
 * Colors
 */
$color-blue: #189adb;
$color-gray: #2d3033;
$color-gray2: #36383A;
$color-gray3: #494b4d;
$color-dark: #161617;
$color-orange: #FE4401;

/* font color */
$font-gray: #ccc;
$font-blue: #189adb;
// borde radius
$border-radius: 2px;
